body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
}

h1 {
    background-color: #CC0000;
    font-weight: 400;
    font-size: 80px;
    font-family: 'Bebas Neue';
    border-radius: 15%;
    padding: 10px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
}

.login_form {
    width: 200px;
    margin: auto;
    text-align: center;
}

.login_box {
    margin-bottom: 10px;
    height: 24px;
    width: 100%;
    border: 1px solid black;
}

.btn_login {
    width: 220px;
    height: 24px;
    background-color: #CC0000;
    color: white;
    font-family: 'Bebas Neue';
    margin-left: 10px;
    border: 1px solid #CC0000;
}

.btn_check {
    margin-left: -80px;
} 